html{
    scroll-behavior: smooth;
}
@media screen and (max-width: 1000px){
    .material-symbols-outlined{
        font-size: 60px !important;
    }
    .background{
        height: 50vh;
        margin-top: 5vh;
    }
    
    .inside-menu{
        padding-right: 0;
        margin-top: -2vh;
    }
    #Pesquisa div{
        flex-direction: column;
    }

    .Sobre > div{
        flex-direction: column;
        gap: 60px;
    }
    .Sobre > div > div{
        flex-direction: column-reverse;
    }

    .rodape{
        height: 220vh;
    }

    .contatos{
        flex-direction: column;
    }
    .enviar{
        margin-left: -30vw;
    }
    iframe{
        width: 75vw;
        height: 65vw;
    }
    .map p{
        width: 70vw;
        font-size: 5vw;
    }
    .menu{
        height: 14vh;
        flex-direction: column;
    }
    .logo{
        margin: 0;
    }
    .menu div{
        font-size: 16px;
        gap: 30px;
    }
    .menu div img{
        width: 7vh;
        height: auto;
    }
    #Pesquisa{
        font-size: 2.5vh;
        margin-top: 0;

    }

    #Pesquisa div div h1{
        font-size: 4vh;
    }
    #Pesquisa div div p{
        font-size: 3.5vh;
        width: 70vw;
    }

    .povo{
        width: 70vw;
    }

    .comp{
        width: 83vw;
    }

    .alte{
        width: 70vw;
    }

    .diversidade{
        font-size: 2.4vh;
    }
    .diversidade p{
        font-size: 3.2vh;
        width: 70vw;
    }
    .diversidade img{
        width: 60vh;
    }

    .Sobre{
        font-size: 2.7vh;
    }

    .Sobre div div h1{
        font-size: 4.5vh;
    }
    
    .Sobre div div p{
        width: 73vw;
        font-size: 3.9vh;
    }

    .Sobre div div img{
        width: 28vh;
    }



    .dep{
        font-size: 7vh;
        margin-top: 10vh;
    }
    .image img{
        width: 105vw;
        height: auto;
        margin-left: 0;
        margin-top: -4vh;
    }
    .circles{
        margin-top: -7vh;
    }
    .slides{
        width: 406vw;
    }

    .silhueta{
        width: 50vh;
        margin-left: 5vh;
        margin-top: -6vh;
    }
}
